body{
    background-color: black;
    color: white;
}
h1{
    font-family: "smooch";
    font-weight: bolder;
}
#div1{
    text-align: center;
}
/* #div1 > h1{
    font-family: "smooch";
} */
#re{

    
    margin-left: 50px;
    margin-right: 50px;
    border: 1px 1px;
    border-color: rgb(246, 182, 182);
    border-width: 2px;
    border-style: solid;
    border-radius: 12px;
    box-shadow: 
    0 0 1px rgb(247, 245, 245),
    0 0 4px rgb(248, 156, 156),
    0 0 8px rgb(244, 102, 102),
    0 0 12px rgb(245, 44, 44),
    0 0 16px rgb(246, 1, 1)
    ;
/* neon color */
    color: rgb(255, 255, 255);
    text-shadow: 
    1px 1px 2px red,
    1px 1px 3px rgb(243, 90, 90),
    1px 1px 4px rgb(247, 143, 143),
    1px 1px 5px rgb(255, 210, 210)
    ;
/* flicker effect */
    /* animation: flicker 1.0s infinite alternate;
    color: #fff; */
}
/* flicker effect */
/* @keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  } */

.q1{
    /* margin: 10px 10px; */
    /* border-style: dashed; */
    border-top: dashed;
    border-bottom: dashed;
    border-color: blue;
    /* background-color: aliceblue; */
    border-width: 0.5px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .q2{
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
} */
.q2 > input{
   background-color: aliceblue; 
   color: brown;
   /* margin: 20px 20px; */
   padding-right: 13px;
   padding-left: 13px;
   padding-top: 5px;
   padding-bottom: 5px;
   font-size: 200%;
}