body{
    background-color: black;
    color: white;
}
h1{
    /* font-family: "smooch"; */
    font-weight:  lighter;
    color: rgb(177, 179, 248);
    text-shadow: 
    0 0 20px rgb(139, 139, 245),
    0 0 30px rgb(74, 74, 243),
    0 0 30px rgb(36, 36, 244),
    0 0 30px rgb(8, 8, 242);
}
#div1{
    text-align: center;
}
/* #div1 > h1{
    font-family: "smooch";
} */
#div1 > input {
    background-color: black;
    text-align: center;
    font-size: 30px;
    
    border: solid;
    border-color: rgb(232, 199, 250);
    border-radius: 20px;
    box-shadow: 
    0 0 10px rgb(225, 145, 245),
    0 0 20px rgb(221, 65, 241),
    0 0 30px rgb(203, 1, 248);


    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 1px;
    padding-right: 1px;

    

    color: rgb(243, 237, 244);
    text-shadow: 
    0 0 5px rgb(251, 190, 246),
    0 0 8px rgb(245, 111, 238),
    0 0 9px rgb(242, 0, 255);
    

}
#re{

    font-size: 30px;

    margin-left: 50px;
    margin-right: 50px;
    border: 1px 1px;
    border-color: rgb(245, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 
    0 0 1px rgb(247, 245, 245),
    0 0 4px rgb(248, 156, 156),
    0 0 8px rgb(244, 102, 102),
    0 0 12px rgb(245, 44, 44),
    0 0 16px rgb(246, 1, 1)
    ;
/* neon color */
    color: rgb(255, 255, 255);
    text-shadow: 
    1px 1px 2px red,
    1px 1px 3px rgb(243, 90, 90),
    1px 1px 4px rgb(247, 143, 143),
    1px 1px 5px rgb(255, 210, 210)
    ;
/* flicker effect */
    /* animation: flicker 10.0s infinite alternate;
    color: #fff;  */
}
/* flicker effect */
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        1px 1px 2px red,
        1px 1px 3px rgb(243, 90, 90),
        1px 1px 4px rgb(247, 143, 143),
        1px 1px 5px rgb(255, 210, 210)
        ;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

.q1{
    /* margin: 10px 10px; */
    /* border-style: dashed; */
    
    
    /* background-color: aliceblue; */
    border-width: 0.5px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .q2{
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
} */
.q2 > input{
   background-color: rgb(0, 0, 0); 
   color: rgb(246, 245, 245);
   text-shadow: 
   0 0 10px rgb(240, 240, 248),
   0 0 20px rgb(99, 99, 243),
   0 0 30px rgb(71, 71, 246),
   0 0 40px rgb(0, 0, 249);

   /* margin: 20px 20px; */
   padding-right: 20px;
   padding-left: 20px;
   padding-top: 5px;
   padding-bottom: 5px;
   font-size: 250%;

   /* border  */
   border-radius: 15px;
   border: white;

   /* border color */
   box-shadow: 
   0 0 10px rgb(240, 228, 251),
   0 0 15px rgb(182, 120, 240),
   0 0 20px rgb(165, 85, 240),
   0 0 25px rgb(156, 58, 248),
   0 0 30px rgb(129, 7, 244); 
}